/* =======================CLIENTS=========================== */

.clients {
  &-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $black;
    text-align: center;
    margin: 0 0 50px 0;
    padding: 0;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &-item {
    width: 170px;
    height: 90px;
  }

  &-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  &-icon {
    fill: currentcolor;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $blue;
    border-radius: 4px;
    color: $blue;
  }
}
