/* =======================CLIENTS=========================== */

.clients {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
  }

  &-icon {
    fill: currentcolor;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $blue;
    border-radius: 4px;
    color: $blue;
  }
}

// ----------------for MOBILE-------------------

@media screen and (max-width: 767px) {
  .clients {
    &-title {
      font-weight: bold;
      font-size: 28px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: $black;
      text-align: center;
      margin: 0 0 30px 0;
      padding: 0;
    }
    &-link {
      width: 210px;
      height: 90px;
    }
    &-section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &-item:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }
}

// ----------------for TABLET------------------

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    &-title {
      font-weight: bold;
      font-size: 28px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: $black;
      text-align: center;
      margin: 0 0 30px 0;
      padding: 0;
    }
    &-link {
      width: 226px;
      height: 90px;
    }
    &-section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &-item:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
}

// -----------------for DESKTOP--------------------

@media screen and (min-width: 1200px) {
  .clients {
    &-title {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      color: $black;
      text-align: center;
      margin: 0 0 50px 0;
      padding: 0;
    }
    &-link {
      width: 170px;
      height: 90px;
    }
    &-section {
      padding-top: 94px;
    }
  }
}
