/* ================== HEADER ======================*/

.container-flex-header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 0;
}

.header-menu-link {
  display: block;
  padding-bottom: 33px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue;
  }
}

.header {
  position: relative;
  &-nav {
    display: flex;
    align-items: center;
  }

  &-menu-item:not(:last-child) {
    margin-right: 50px;
  }

  &-logo {
    font-family: $secondary-font;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $black-logo;
  }

  &-menu-item {
    position: relative;
  }

  &-menu-item .active::after {
    content: '';
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: $blue;
    border-radius: 2px;
  }
}

.address {
  &-link-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: $gray;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
  }

  &-link-header:hover,
  &-link-header:focus {
    color: $blue;
  }
}

.active {
  color: $blue;
}

.accent {
  color: $blue;
}

.envelope-svg {
  margin-right: 10px;
  fill: currentcolor;
  align-items: center;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

// ----------------for MOBILE-------------------

@media screen and (max-width: 767px) {
  .address {
    display: none;
  }

  .hide-header-menu {
    display: none;
  }

  .menu-button {
    right: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .header-logo {
    margin-right: 276px;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    background-color: wheat;
    padding: 20px;
    text-align: center;

    &.is-open {
      display: block;
    }
  }
}

// ----------------for TABLET------------------

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    &-link-header:last-child {
      margin-left: 0;
    }
    &-link-header:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .header {
    &-menu {
      display: flex;
      margin-left: 88px;
    }
  }

  .menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

// -----------------for DESKTOP--------------------

@media screen and (min-width: 1200px) {
  .address {
    display: flex;

    &-link-header:last-child {
      margin-left: 50px;
    }
  }

  .header {
    &-menu {
      display: flex;
      margin-left: 93px;
    }
  }
  .menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
