// /* ================== HEADER ======================*/

.container-flex-header {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // height: 80px;
  border-bottom: 1px solid #ececec;
  padding: 0;

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}

.header-menu-link {
  display: block;
  // padding-bottom: 33px;
  // padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue;
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.166;
  }
}

.header {
  position: relative;
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  &-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-content: center;
      padding: 0;
      margin: 0;
    }
  }
}

.header {
  &-menu-item:not(:last-child) {
    margin-right: 50px;

    @media screen and (max-width: 767px) {
      margin: 0 0 40px 0;
    }
  }

  &-logo {
    font-family: $secondary-font;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $black-logo;
  }

  &-menu-item {
    // position: relative;
  }

  &-menu-item .active::after {
    content: '';
    display: flex;
    width: 100%;
    position: absolute;
    bottom: -38px;
    left: 0;
    height: 4px;
    background-color: $blue;
    border-radius: 2px;

    @media screen and (max-width: 767px) {
      bottom: -8px;
    }
  }
  &-menu-link {
    display: inline-block;
    position: relative;
  }
}

.address {
  &-link-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: $gray;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // display: flex;

    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 1.166;
    }
  }

  &-link-header:hover,
  &-link-header:focus {
    color: $blue;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .address-link-header:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .address-link-header:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-link-header:not(:last-child) {
    margin-bottom: 10px;
  }
}

.active {
  color: $blue;
}

.accent {
  color: $blue;
}

.envelope-svg {
  margin-right: 10px;
  fill: currentcolor;
  align-items: center;
}

.header {
  position: relative;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $blue;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  background-color: $white;

  padding: 20px 0;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    text-align: center;

    font-size: 18px;
    line-height: 1.166;
    z-index: 1;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }
}
