/* ====================== HERO ========================= */

// constant parametr

.hero {
  &-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white;
    padding: 11px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $blue;
    display: inline-block;
    min-width: 200px;
  }
}

// ----------------for MOBILE-------------------

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-mobile.jpg');
    padding: 118px 60px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &-text {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.615;
      letter-spacing: 0.06em;
      color: $white;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
}

// pictures x2 mobile

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-mobile@2x.jpg');
  }
}

// ----------------for TABLET------------------

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-tablet.jpg');
    padding: 118px 204px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &-text {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.615;
      letter-spacing: 0.06em;
      color: $white;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
}
// pictures x2 tablet

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-tablet@2x.jpg');
  }
}

// -----------------for DESKTOP--------------------

@media screen and (min-width: 1200px) {
  .hero {
    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-desktop.jpg');
    // padding-top: 200px;
    // padding-bottom: 200px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // text-align: center;
    // max-width: 1600px;

    &-text {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: $white;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    &-section {
      display: flex;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-desktop.jpg');
      padding-top: 200px;
      padding-bottom: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
    }
  }
}

// pictures x2 desktop

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/hero-desktop@2x.jpg');
  }
}
