/* ===================== TEAM ========================= */

.team {
  background-color: #f5f4fa;

  &-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $black;
    text-align: center;
    margin-top: 0;
    padding-top: 94px;
  }

  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &-proffesion {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $gray;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
  }
}

.list .list-team {
  background-color: $white;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue;
  }

  &:hover .social-svg,
  &:focus .social-svg {
    fill: $white;
  }
}

.list-team {
  padding-bottom: 30px;
}
